<style>
  h2 {
    border-radius: 5%;
    border: 2px solid rgb(255, 255, 255);
    text-align: center;
    color: white;
  }
</style>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #444444;
  text-align: left;
  padding: 8px;
  color: white;
}
</style>


{% load static %}

<link rel="shortcut icon" href="Documents\GitHub\Site-bag-Manager\favicon.ico" type="image/x-icon">
<title >Bag Manager</title>
<body style="background-color: #444444;"></body>
<h2>
<text style="font-size:xx-large;  font-family: arial, sans-serif;">Available Bags for {{form.username.label_tag}}</text>
<form method="post" {% if authenticated %}action="/accounts/logout/">{% else %}action="/accounts/login/">{% endif %}
  {%csrf_token %}

  <button type="submit">
   {% if authenticated %}
      Log out
      
    {% else %}
      Log in
    {% endif %}</button>
</form>

</h2>


<table>
  <tr>
    <wite style="color: white;">
    <th>Bag name</th>
    <th>Available</th>
    <th>user using it</th>
    <th>date borrowed</th>
    <th>date returned</th>
    </wite>
  </tr>
  {% for bag in bags %}
  
  <tr>
    <wite style="color: white;">
    <td>{{bag}}</td>
    <td>
  {% if bag.being_used %}
    False
  {% else %}
    True
  {% endif %}
</td>

    <td>{{bag.last_borrowingtime.member}}</td>
    <td>{{bag.last_borrowingtime.start}}</td>
    <td>{{bag.last_borrowingtime.end}}</td>
    <td>

 


    {% if authenticated %}
    AUTHENTICATED
  <button onclick="alert('{% if bag.being_used %}in{% else %}Log{% endif %}')">
    {% if bag.being_used %}
      Return
      
    {% else %}
      Borrow
    {% endif %}
  </button>

</button>
   {%else%}
    Not authenticated
{% endif %}
</td>
    </wite>
  </tr>
  {% endfor %}
</table>

